<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        main {
            width: 100vw;
            height: 100dvh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            user-select: none;
        }
    </style>
</head>
    <body>
        <main>
            <h1>
                Hello!
            </h1>
            <p>
                Hi from Rust
            </p>
        </main>    
    </body>
</html>